html, body{
	font-family: helvetica, sans-serif;
	margin: 0;
}

header{

	background-image: url('../img/big-image-2.jpg');
	background-color: #004d4d;
	padding: 40px;
	text-align: center;
}
	h1{
		font-size: 90px;
		color: white;
		text-shadow: 2px 4px 20px black;
	}

	h2{
		color: #00b3b3;
		text-align: center;
	}
	p{
		text-align: center;
	}

	header img{
		border-radius: 150px;
		width: 300px;
		border: 18px solid #00b3b3;
		box-shadow: 2px 4px 20px black;
 

	}
.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: lightgray;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: white;
	background-color: #004d4d;
	text-decoration: none;
}

a:hover{
	background-color: #00cc00;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color:  #bfbfbf;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline;
	margin: 0 5px;
}